* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.App {
  width: 800px;
}

.navbar {
  background: #cc9933;
  color: #fff;
  display: flex;
  align-items: center;
  height: 50px;
  width: 100vw;
  padding: 0 15px;
}

.navbarLinks {
  margin-left: auto;
}



.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin: 15px 0;
  border: 2px solid #cc9933;
}

.post-enter {
  opacity: 0;
  transform: scale(0.9);
}
.post-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.modal-enter {
  opacity: 0;
  transform: scale(0.9);
}
.modal-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.modal-exit {
  opacity: 1;
}
.modal-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.paginationWrapper {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.paginationItem {
  margin-right: 10px;
  border: 1px solid #cc9933;
  padding: 3px;
  cursor: pointer;
}

.paginationItem:hover,
.paginationItem.current{
  background: #cc9933;
  color: #fff;
}

.post__btns {
  display: flex;
}
